{% include 'header.html' %}
{% block title %}<title>Registro</title>{% endblock %}
    <main class="main-login">
        <div class="img-registro" id="registro">
        </div>
        <div class="registro">
            <h2>¡Registrate!</h2>
            <form action="/registro" class="formulario" id="formulario" method="POST">

                <div class="formulario_grupo">
                    <div class="formulario_grupo-input" id="grupo_nombre">
                        <input type="text" class="formulario_input" name="nombre" id="nombre" placeholder="Nombres *">
                        <h6 class="formulario_input-error">Los nombres no pueden contener números o símbolos.</h6>
                    </div>
                    <div class="formulario_grupo-input" id="grupo_apellido">
                        <input type="text" class="formulario_input" name="apellido" id="apellido" placeholder="Apellidos *">
                        <h6 class="formulario_input-error">Los apellidos no pueden contener números o símbolos.</h6>
                    </div>
                </div>

                <div class="formulario_grupo">
                    <div class="formulario_grupo-input" id="grupo_usuario">
                        <input type="text" class="formulario_input" id="usuario" name="usuario" placeholder="Usuario *">
                        <h6 class="formulario_input-error">El usuario debe tener de 4 a 16 dígitos y solo puede contener letras, números y guión bajo.</h6>
                    </div>
                    <div class="formulario_grupo-input" id="grupo_correo">
                        <input type="email" class="formulario_input" name="correo" id="correo" placeholder="Correo Electrónico *">
                        <h6 class="formulario_input-error">Ingrese un correo electrónico válido.</h6>
                    </div>
                </div>

                <div class="formulario_grupo">
                    <div class="formulario_grupo-input" id="grupo_pwd">
                        <div class="password-container">
                            <input type="password" class="formulario_input" name="pwd" id="pwd" placeholder="Contraseña *">
                            <i class="fa-solid fa-eye toggle-password" id="togglePassword" onclick="verPwd()"></i>
                        </div>
                        <h6 class="formulario_input-error">La contraseña debe tener mayúsculas, minúsculas, números y caracteres.</h6>
                    </div>
                    <div class="formulario_grupo-input" id="grupo_pwd2">
                        <div class="password-container">
                            <input type="password" class="formulario_input" name="pwd2" id="pwd2" placeholder="Repetir contraseña *">
                            <i class="fa-solid fa-eye toggle-password" id="togglePassword2" onclick="verPwd2()"></i>
                        </div>
                        <h6 class="formulario_input-error">Ambas contraseñas deben ser iguales.</h6>
                    </div>
                </div>

                <div class="formulario_grupo">
                    <div class="formulario_grupo-input" id="birthdateError">
                        <input class="formulario_input" type="date" id="birthdate" name="birthdate" placeholder="Fecha de Nacimiento">
                        <h6 class="formulario_input-error">Debe ser mayor de edad para registrarse.</h6>
                    </div>
                    <div class="formulario_grupo-input">
                        <select class="formulario_input" id="gender" name="gender">
                            <option value="">Selecciona un sexo</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                </div>

                <div class="formulario_grupo">
                    <div class="formulario_grupo-input" id="grupo_provincia">
                        <select class="formulario_input" id="province" name="province">
                            <option value="">Selecciona una provincia</option>
                            <option value="Buenos Aires">Buenos Aires</option>
                            <option value="Catamarca">Catamarca</option>
                            <option value="Chaco">Chaco</option>
                            <option value="Chubut">Chubut</option>
                            <option value="Córdoba">Córdoba</option>
                            <option value="Corrientes">Corrientes</option>
                            <option value="Entre Ríos">Entre Ríos</option>
                            <option value="Formosa">Formosa</option>
                            <option value="Jujuy">Jujuy</option>
                            <option value="La Pampa">La Pampa</option>
                            <option value="La Rioja">La Rioja</option>
                            <option value="Mendoza">Mendoza</option>
                            <option value="Misiones">Misiones</option>
                            <option value="Neuquén">Neuquén</option>
                            <option value="Río Negro">Río Negro</option>
                            <option value="Salta">Salta</option>
                            <option value="San Juan">San Juan</option>
                            <option value="San Luis">San Luis</option>
                            <option value="Santa Cruz">Santa Cruz</option>
                            <option value="Santa Fe">Santa Fe</option>
                            <option value="Santiago del Estero">Santiago del Estero</option>
                            <option value="Tierra del Fuego">Tierra del Fuego</option>
                            <option value="Tucumán">Tucumán</option>
                        </select>
                    </div>
                    <div class="formulario_grupo-input">
                        <select class="formulario_input" id="city" name="city">
                            <option value="">Selecciona una provincia primero</option>
                        </select>
                    </div>
                </div>

                <div class="formulario_grupo formulario_btn-registrar">
                    <button type="submit" class="formulario_btn">Registrar</button>
                </div>
            </form>
            
            <h4>Ya tenés cuenta? <a href="/acceder">Ingresá!</a></h4>
            <br>
            {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, msg in messages %}
                <div class="{{category}} flash-message" id="flash-message">
                    <div class="message">
                            {{msg}}
                    </div>
                    <div class="close">
                        <span onclick="closeMessage()">X</span>
                    </div>
                </div> 
            {% endfor %}         
        {% endif %}
    {% endwith %}
        </div>

    </main>

    <script src="https://kit.fontawesome.com/5f172312ee.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>
</html>