{% extends "auth/header_provincias.html" %}
{% block content %}
        <div class="contenido">
            <div id="contenido1">
                <p>
                    Santiago del Estero, provincia argentina en el norte, es cuna de historia y tradición. Su capital, Santiago del Estero,
                    es una mezcla de lo colonial y lo moderno, con la Plaza Libertad y la Catedral Basílica como iconos culturales. La
                    provincia se destaca por su folclore y artesanía, reflejados en festivales como el Festival Nacional del Folklore. Sus
                    paisajes van desde las llanuras fértiles del este hasta las sierras y quebradas del oeste. La agricultura, ganadería y
                    la industria del cuero son pilares económicos, mientras que el turismo rural y la pesca deportiva atraen visitantes en
                    busca de autenticidad y naturaleza.
                </p>
            </div>
            <div class="ful-img" id="fulImgBox">
                <img src="{{url_for('static', filename='img_provincias/s_del_estero/img2.jpeg')}}" alt="" id="fulImg">
                <span onclick="closeImg()">X</span>
            </div>
            <div id="contenido2">
                <img src="{{url_for('static', filename='img_provincias/s_del_estero/img1.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/s_del_estero/img2.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/s_del_estero/img3.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/s_del_estero/img4.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/s_del_estero/img5.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/s_del_estero/img6.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/s_del_estero/img7.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/s_del_estero/img8.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/s_del_estero/img9.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/s_del_estero/img10.jpeg')}}" onclick="openImg(this.src)" alt="">
            </div>
            <div id="contenido3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4280375.069040094!2d-63.39742071905261!3d-28.237915277848522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9425a84f49ae19cf%3A0xe23b1c64d3a49ba5!2sSantiago%20del%20Estero!5e0!3m2!1ses-419!2sar!4v1715858175382!5m2!1ses-419!2sar" width="1200" height="495" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div id="contenido4">
                <div class="clima" id="cont_e5f1cadd7e2269276585f2bb3a0a4cd5"><script type="text/javascript" async src="https://www.meteored.com.ar/wid_loader/e5f1cadd7e2269276585f2bb3a0a4cd5"></script></div>
            <div id="contenido5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d107195.89334040215!2d-68.85562654714896!3d-32.901561156689844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRestaurantes!5e0!3m2!1ses-419!2sar!4v1715697483990!5m2!1ses-419!2sar"
                    width="1200" height="495" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
{% endblock %}
