{% extends "auth/header_provincias.html" %}
{% block content %}
        <div class="contenido">
            <div id="contenido1">
                <p>
                    Salta, provincia argentina en el noroeste, es un viaje a la historia, la naturaleza y la cultura. Su capital, Salta,
                    conocida como "La Linda", deslumbra con su arquitectura colonial, plazas y el Cerro San Bernardo. La provincia es un
                    mosaico de paisajes, desde la Quebrada de Cafayate con sus formaciones rocosas hasta las Yungas en la zona de la Selva
                    de Montaña. La Ruta del Vino y la gastronomía regional son atractivos imperdibles. La artesanía, la agricultura y el
                    turismo son ejes económicos, destacándose el turismo aventura en la Puna y la Fiesta del Milagro como expresión de
                    devoción popular.
                </p>
            </div>
            <div class="ful-img" id="fulImgBox">
                <img src="{{url_for('static', filename='img_provincias/salta/img2.jpeg')}}" alt="" id="fulImg">
                <span onclick="closeImg()">X</span>
            </div>
            <div id="contenido2">
                <img src="{{url_for('static', filename='img_provincias/salta/img1.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/salta/img2.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/salta/img3.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/salta/img4.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/salta/img5.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/salta/img6.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/salta/img7.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/salta/img8.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/salta/img9.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/salta/img10.jpeg')}}" onclick="openImg(this.src)" alt="">
            </div>
            <div id="contenido3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4426737.593548605!2d-64.94916921735579!3d-24.34010424172627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0d2938ead0c7%3A0x8b4a1bd1f6c37998!2sSalta!5e0!3m2!1ses-419!2sar!4v1715871821407!5m2!1ses-419!2sar" width="1200" height="495" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div id="contenido4">
                <div class="clima" id="cont_b7764e7ca20407aff9672fdf71e109bb"><script type="text/javascript" async src="https://www.meteored.com.ar/wid_loader/b7764e7ca20407aff9672fdf71e109bb"></script></div>
            </div>
            <div id="contenido5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d107195.89334040215!2d-68.85562654714896!3d-32.901561156689844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRestaurantes!5e0!3m2!1ses-419!2sar!4v1715697483990!5m2!1ses-419!2sar"
                    width="1200" height="495" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
{% endblock %}
