{% extends "auth/header_provincias.html" %}
{% block content %}
        <div class="contenido">
            <div id="contenido1">
                <p>
                    San Juan, provincia argentina en el oeste, es una joya de historia, naturaleza y desarrollo. Su capital, San Juan,
                    combina la arquitectura colonial con modernas infraestructuras, como el Centro Cívico y la Catedral. La provincia es
                    conocida por su producción vitivinícola de alta calidad, destacando la Ruta del Vino en el Valle de Tulum. Sus paisajes
                    son variados, desde los desiertos áridos hasta las montañas de los Andes, donde se encuentra el Parque Provincial
                    Ischigualasto, Patrimonio de la Humanidad. La minería, la agricultura y el turismo son motores económicos, ofreciendo
                    una experiencia única en la región cuyana.
                </p>
            </div>
            <div class="ful-img" id="fulImgBox">
                <img src="{{url_for('static', filename='img_provincias/san_juan/img2.jpeg')}}" alt="" id="fulImg">
                <span onclick="closeImg()">X</span>
            </div>
            <div id="contenido2">
                <img src="{{url_for('static', filename='img_provincias/san_juan/img1.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_juan/img2.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_juan/img3.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_juan/img4.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_juan/img5.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_juan/img6.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_juan/img7.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_juan/img8.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_juan/img9.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_juan/img10.jpeg')}}" onclick="openImg(this.src)" alt="">
            </div>
            <div id="contenido3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4172273.305306819!2d-68.54308602431838!3d-30.824490545866677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96814029a33cd497%3A0x3552ffe367e3b1df!2sSan%20Juan!5e0!3m2!1ses-419!2sar!4v1715873991532!5m2!1ses-419!2sar" width="1200" height="495" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div id="contenido4">
                <div class="clima" id="cont_aaedd2931079818765e63ac5da376b88"><script type="text/javascript" async src="https://www.meteored.com.ar/wid_loader/aaedd2931079818765e63ac5da376b88"></script></div>
            </div>
            <div id="contenido5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d107195.89334040215!2d-68.85562654714896!3d-32.901561156689844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRestaurantes!5e0!3m2!1ses-419!2sar!4v1715697483990!5m2!1ses-419!2sar"
                    width="1200" height="495" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
{% endblock %}
