{% extends "auth/header_provincias.html" %}
{% block content %}
        <div class="contenido">
            <div id="contenido1">
                <p>
                    San Luis, provincia argentina en el centro-oeste del país, es un oasis de belleza natural y desarrollo. Sus paisajes van
                    desde las sierras puntanas, con lugares emblemáticos como Potrero de los Funes y Merlo, hasta la llanura pampeana en su
                    extremo este. La ciudad de San Luis, su capital, combina modernidad con historia en su arquitectura y espacios verdes
                    como el Parque La Pedrera. La provincia se destaca por su agricultura, ganadería y turismo, ofreciendo actividades como
                    trekking, turismo rural y enológico en la región de los vinos puntanos. Su gente hospitalaria y tradiciones folclóricas
                    completan su encanto.
                </p>
            </div>
            <div class="ful-img" id="fulImgBox">
                <img src="{{url_for('static', filename='img_provincias/san_luis/img2.jpeg')}}" alt="" id="fulImg">
                <span onclick="closeImg()">X</span>
            </div>
            <div id="contenido2">
                <img src="{{url_for('static', filename='img_provincias/san_luis/img1.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_luis/img2.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_luis/img3.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_luis/img4.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_luis/img5.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_luis/img6.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_luis/img7.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_luis/img8.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_luis/img9.jpeg')}}" onclick="openImg(this.src)" alt="">
                <img src="{{url_for('static', filename='img_provincias/san_luis/img10.jpeg')}}" onclick="openImg(this.src)" alt="">
            </div>
            <div id="contenido3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902630.334427266!2d-65.63919606326245!3d-34.23066736563291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d43be4529ad73d%3A0x5dee1e83bd8abc46!2sSan%20Luis!5e0!3m2!1ses-419!2sar!4v1715779035372!5m2!1ses-419!2sar" width="1200" height="495" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div id="contenido4">
                <div class="clima" id="cont_226da5884dc66db10f5cd6b3d55b54a1"><script type="text/javascript" async src="https://www.meteored.com.ar/wid_loader/226da5884dc66db10f5cd6b3d55b54a1"></script></div>
            <div id="contenido5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d107195.89334040215!2d-68.85562654714896!3d-32.901561156689844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRestaurantes!5e0!3m2!1ses-419!2sar!4v1715697483990!5m2!1ses-419!2sar"
                    width="1200" height="495" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
{% endblock %}
